@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rust";
  src: local("Rust"),
   url("./fonts/Rust.ttf") format("truetype");
  font-weight: bold;
  }

 .rustFont {
    font-family: "Rust";
   }